{% extends 'base.twig' %}

{% block content %}
	{% if fn('tribe_is_list_view') =='1' %}
	
	<div id="tribe_events" class="tribe-events__content">
		
		<div class="wysiwyg">
			{{ option.events_page }}
		</div>
		
		<!-- Notices -->
		{{ fn('tribe_the_notices') }}
		
		{% do action('tribe_events_before_header') %}
		<div id="tribe_events_header" {{ fn('tribe_events_the_header_attributes') }}>
		</div>
		{% do action('tribe_events_after_header') %}
		
		<hr>
		
		{{ fn('tribe_events_before_html') }}
		{% include 'partial/event-list.twig' %}
		{{ fn('tribe_events_after_html') }}
		
		<!-- List Footer -->
		{% do action('tribe_events_before_footer') %}
		<div id="tribe-events__footer">
			<!-- Footer Navigation -->
			{% do action('tribe_events_before_footer_nav') %}
			{# tribe_get_template_part( 'list/nav', 'footer' ) #}
			{% do action('tribe_events_after_footer_nav') %}
		</div>
		<div class="wysiwyg">
			{% do action('tribe_events_after_footer')  %}
		</div>
	</div>
	
	{% else %}
	
	{% include 'single-event.twig' %}
	
	{% endif %}
{% endblock %}