{% if menu %}
	<ul id="navigation_menu" class="main-nav__menu">
		
		{% for item in menu %}
		<li class="{{ item.classes | join(' ') }}">
			
			<a href="{{ item.link }}" target="{{ item.target }}">{{ item.title }}</a>
			
			{% if item.children %}
			<ul class="sub-menu">
				
				{% for child in item.children %}
				<li class="{{ item.classes | join(' ') }}">
					<a href="{{ child.link }}" target="{{ child.target }}">{{ child.title }}</a>
				</li>
				{% endfor %}
				
			</ul>
			{% endif %}
			
		</li>
		{% endfor %}
		
	</ul>
{% endif %}
