{% block content %}
<div id="event_{{ post.ID }}" class="event">

	<div class="event__date">
		{{ fn('tribe_get_start_date', post.ID, false, 'M d') }}
	</div>
	
	<h3 class="event__title">{{ post.title }}</h3>
	<h3 class="event__title--clone">{{ post.title }}</h3>

	{% if fn('tribe_get_cost', post.ID, true) %}
	<div class="event__cost">
		{{ fn('tribe_get_cost', post.ID, true) }}
		{% do action( 'tribe_events_inside_cost' ) %}
	</div>
	{% endif %}

	{% if post.terms %}
	<div class="event__button ages">
		{% for age in post.terms %}
			{{ age }}
		{% endfor %}
	</div>
	{% endif %}

	<div class="event__button">Info</div>

	<a class="event__button ticketweb" href="{{ post.get_field('ticketweb_event') }}" target="_blank" title="Buy on Ticketweb">Tickets</a>

	<a href="{{ post.link }}" class="event__link" rel="bookmark"></a>

</div>
{% endblock %}
